body {
  font-family: sans-serif;
  background-color: rgba(249, 66, 58, 0.6);
  max-width: 60rem;
}

div#container {
  margin-top: 20px;
  padding: 10px;
  background-color: beige;
  min-height: 120px;
}

#status {
  font-family: monospace;
  padding: 2px;
  background-color: #000;
  color: white;
}

.special {
  background-color: azure;
}
